@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap");

.header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.background {
  background-image: url("../../images/bg-header.jpg");
  width: 100%;
  height: 100vh;
  background-position: center bottom;
  object-fit: cover;
  background-size: cover;
  z-index: 0;
}

.backdrop {
  z-index: 30;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
.logo {
  overflow: hidden;
  position: absolute;
  top: 0%;
  left: 62%;
  bottom: 60%;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
}
.logo > img {
  border: 2px solid white;
  border-radius: 100%;
}
@keyframes flicker {
  0%,
  20%,
  35%,
  85% {
    color: #ff395a;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ff395a;
    text-shadow: 0 0 30px rgba(#ff395a, 0.4);
  }
  18%,
  50%,
  80% {
    color: white;
    text-shadow: none;
    -webkit-text-stroke-width: 0px;
  }

  12%,
  22%,
  100% {
    color: #161616;
    -webkit-text-stroke-width: 0px;
    text-shadow: 0 0 30px rgba(black, 0.4);
  }
}
.content {
  position: absolute;
  bottom: 30%;
  right: 32px;
  font: size 3rem;
  color: white;
  width: 25%;
}
