.white-paper {
  position: relative;
}
.white-paper > p {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  letter-spacing: 1px;
  z-index: 0;
  text-align: center;
}
